body {
  line-height: 1.7;
  font-size: 0.9rem;
}
a {
  text-decoration: none;
  color: black;
}
li {
    list-style-type: none;
}
.secound-title {
  text-align: center;
  font-size: 2.25rem;
  margin-bottom: 30px;
}

$mobile-size: 767px;
@mixin mobile {
  @media (max-width: $mobile-size) {
    @content;
  }
}
/*-------------------------------------------
ヘッダー
-------------------------------------------*/
header {
  width: 100%;
  display: flex;
  justify-content: space-between; // navを中央に位置付けする
  padding: 0 40px;
  z-index: 10; // 重なり順
  position: fixed;
  background-color: #fff;
}

// 🍔メニュー
#nav {
  background-color: #121212;
  position: fixed; // 画面のきまった位置に固定する
  width: 30%;
  top: 0;
  left: -1000px;
  bottom: 0;
  padding: 60px 25px;
  z-index: 20;

  a {
    color: #fff;
  }
  ul {
    padding: 0;
  }
}

.nav-menu {
  margin-bottom: 60px;
  border-top: solid 1px #fff;

  li {
    position: relative;
    margin: 0;
    padding: 20px 0;
    border-bottom: solid 1px #fff;
  }
}
.nav-sns li {
  padding: 5px 0;
}

.hamburger-btn {
  top: 25px;
  width: 30px;
  height: 30px;
  right: 45px;
  position: fixed;
  cursor: pointer;
  transition: all 0.5s;
  z-index: 20; // ボタンが一番上にくるようにする
  // display: block;
  

  span {
    display: block;
    position: absolute;
    background-color: #333;
    border-radius: 4px;
    left: 0;
    width: 30px;
    height: 2px;
    transition: all 0.5s;
  }
  span:nth-child(1) {
    top: 4px;
  }
  span:nth-child(2) {
    top: 14px;
  }
  span:nth-child(3) {
    bottom: 4px;
  }
}

// 🍔メニュークリック時 三本線をバツにする。
.open {
  #nav {
        left: 0;
        opacity: 1;
        transition: all 0.5s;
  }
  .btn-line {
    background-color: #fff;
  }
  span:nth-child(1) {
    transform: translateY(10px) rotate(-315deg); // rotate でななめに設定
  }
  span:nth-child(2) {
    opacity: 0;
  }
  span:nth-child(3) {
    transform: translateY(-10px) rotate(315deg); // rotate でななめに設定
  }
}


// 🍔メニューを押下後、閉じることのできるクリックエリアを指定
#hamburger-btn-area {
  display: none;
  transition: all 0.5s;
}

.open #hamburger-btn-area {
  background-color: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  opacity: 0.8;
  z-index: 10;
  cursor: pointer;
}

/*-------------------------------------------
メイン
-------------------------------------------*/
.top-video {
  width: 100%;
}

/*-------------------------------------------
seconund PICKUPエリア
-------------------------------------------*/
#secound-area {
  width: 100%;
  padding-top: 6%; 

  .swiper-container li {
    padding: 0 30px;
  }
  .swiper-slide img {
    width: 100%;
  }
}


/*-------------------------------------------
third FEATUREエリア
-------------------------------------------*/
#third-area  {
  padding-top: 6%;
  .blog-area{
    padding: 1% 2% 5% 2%; 
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .blog-content { 
    transition: all  0.3s ease;
    box-shadow: 0 0 8px 4px #ccc;
  }
  img {
    vertical-align: top;
    width: 100%;
  }
  .blog-card {
    padding: 30px;
  }
  .blog-category {
    font-size: 0.75rem;
  }
  .blog-text {
    font-weight: bold;
    margin-bottom: 20px;
  }
  .blog-date {
    font-size: 0.75rem;
    text-align: right;
  }
}


/*-------------------------------------------
contactエリア
-------------------------------------------*/
#contact {
  padding-top: 20px;
  background-color: #000;
  color: #fff;
  p {
    padding-bottom: 1em;
  }
  .contact-area {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    @include mobile {
      display: block;
    }
  }
  .contact-info {
    width: 45%;
    @include mobile {
      width: 100%;
    }
  }
  .contact-form {
    width: 50%; 
    @include mobile {
      width: 100%;
    }
  }
  input {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
  }
  textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
  }
  .button input {
    width: 50%;
    background-color: #000;
    color: #fff;
    border: solid 1px #fff;
    padding: 12px 0;
    margin: 20px 0;
  }
}


/*-------------------------------------------
footerエリア
-------------------------------------------*/
#footer {
  padding: 1em;
  background-color: #000;
  p {
    margin: 0;
    color: #fff;
    font-size: 12px;
    text-align: center;
  }
  
}
